[Unit]
Description=ShadowsocksR server
After=network.target
After=rc-local.service

[Service]
LimitCORE=infinity
LimitNOFILE=512000
LimitNPROC=512000
Type=simple
WorkingDirectory=/usr/local/shadowsocks
ExecStart=python3 /usr/local/shadowsocks/server.py
Restart=always

[Install]
WantedBy=multi-user.target
